<div class="weather-card-container">
    <mat-card class="weather-card">
        <mat-card-header>
            <div mat-card-avatar class="weather-header-image"></div>
            <mat-card-title class="label">Check Current Weather</mat-card-title>
            <mat-card-subtitle>Select any search type</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-radio-group class="example-radio-group">
                <mat-radio-button (change)="onChangeType(type)" class="example-radio-button" *ngFor="let type of searchTypes" [value]="type">
                    {{type}}
                </mat-radio-button>
            </mat-radio-group>
            <form class="example-form">
                <mat-form-field class="example-full-width" *ngIf=isCityNameSelected>
                    <input matInput #message maxlength="20" placeholder="Location" [(ngModel)]="location" required name="location">
                    <mat-hint align="start"><strong>Enter the City Name</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 20</mat-hint>
                    <mat-error *ngIf="locationFormControl.hasError('required')">
                        City Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" *ngIf=isZipCodeSelected>
                    <input matInput #message maxlength="6" placeholder="Location" [(ngModel)]="location" required name="location">
                    <mat-hint align="start"><strong>Enter the Zip Code (US only)</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 6</mat-hint>
                    <mat-error *ngIf="locationFormControl.hasError('required')">
                        ZIP code is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf=isShowSearchButton mat-button color="primary" (click)="getCurrentWeather()">Show Today's Weather</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="weather-card-container">
    <mat-card class="weather-card" *ngIf="hasWeatherData">
        <mat-card-header>            
            <mat-card-title class="f-22">
                <div *ngIf="selectedType == 'CityName'">
                    <span class="label">Location: </span><span>{{location}}</span>
                </div>
                <div *ngIf="selectedType == 'ZIPCode' || selectedType == 'CityID'">
                    <span class="label">Location: </span><span>{{weatherData.name}}, {{weatherData.sys.country}}</span>
                </div>
            </mat-card-title>
            <mat-card-subtitle>                
                <span class="label">Geo coords: </span><span>[{{weatherData.coord.lat}},{{weatherData.coord.lon}}]</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="currentFlex">
                <span class="currentImage">
                    <img class="weatherImg"src="http://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png">
                </span>   
                <span class="currentDesc"> 
                    <span class="label f-22">{{(weatherData.main.temp - 273) | number:'1.2-2'}}°C {{weatherData.weather[0].main}}</span>
                    <span class="min-high">
                        <span class="label">Low: </span><span>{{weatherData.main.temp_min - 273 | number:'1.2-2'}}°C</span>
                        <span class="label">High: </span><span>{{weatherData.main.temp_min - 273 | number:'1.2-2'}}°C</span>
                    </span>     
                </span>   
            </div>    
            <div class="currentFlex current-desc">
                {{weatherData.weather[0].description}}
            </div>
            <mat-divider></mat-divider>
            <div class="currentFlex p-t-10">                    
                <span class="label">Wind: </span><span> {{weatherData.wind.speed}} m/s.</span>
                <span class="label">Clouds: </span><span> {{weatherData.clouds.all}} %</span>
                <span class="label">Pressure: </span><span>{{weatherData.main.pressure}} hpa</span>
            </div>            
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>

